@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F6F6F6F7;
}
header{
    background-color: #18561E;
    height: 7rem;
    top: 0;
    position:fixed;
    width: 100%;
    z-index: 10;
}
header .contenedor-header{
    display: flex;
    margin-left: 8rem;
    align-items: center;
}

.logo-fisc{
    width: 6rem;
    margin-bottom: 2rem;
}
#title{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
nav{
    display: flex;
    justify-content: right;
    margin-left: 41.5rem;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
ul li:hover{
    background-color: #237C2C;
}
nav p{
    margin: 0;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    
}
.img-header{
    width: 2.5rem;
}
#Mensaje{
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}
#Mensaje img{
    margin-left: 1rem;
}

#Noti{
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
#Noti img{
    margin-left: 2rem;
}
#Usua{
    padding: 1rem;
    margin-bottom: 1rem;
}
#Usua img{
    margin-left: 0.5rem;
}

aside{
    background-color: #237C2C;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 7rem;
}

.cont-asi:hover{
    background-color: #18561E;
}

#contenedor-aside{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}

.cont-asi {
    display: flex;
    width: 13.9rem;
    height: 55px;
    margin-bottom: 10px;
    align-items: flex-start;
    padding-left: 1rem;
}

#contenedor-aside p{
    margin-left: 1rem;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

.img-aside{
    width: 2.5rem;
}


#contenedor-contenido{
    margin-left: 17rem;
    position: relative;
    padding:0;
    margin-top: 9rem;
}
#contenedor-contenido h2{
    font-family: 'Roboto', sans-serif;
    color: #444444;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

.filtros{
    display: flex;
    flex-wrap: wrap;
}
.filtros p{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
#nomb{
    margin-right: 3rem;
}
#nomb input{
    width: 35rem;
    height: 2.5rem;
    border-radius: 10px;
    border-color: #978F8F;
    border-style:solid;
    border-width: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)

}
#cedu input{
    width: 35rem;
    height: 2.5rem;
    color: #978F8F;
    border-radius: 10px;
    border-color: #978F8F;
    border-style:solid;
    border-width: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}
#carrera{
    width: 35rem;
    margin-right: 3rem;
    color: #978F8F;
    height: 2.5rem;
    border-radius: 10px;
    border-color: #978F8F;
    border-style:solid;
    border-width: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}

#año{
    width: 35rem;
    height: 2.5rem;
    color: #978F8F;
    border-radius: 10px;
    border-color: #978F8F;
    border-style:solid;
    border-width: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
}
.filtros #botones{
    margin-top: 2rem;
}
#boton1:hover{
    background-color: #18561E;
}
#boton2:hover{
    background-color: #18561E;
}
#boton3:hover{
    background-color: #18561E;
}
#boton1{
    border-radius: 0.3rem;
    background-color: #237C2C;
    border: none;
    color: white;
    width: 6rem;
    padding: 0.7rem;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    width: 7rem;
}
#boton2{
    border-radius: 0.3rem;
    background-color: #237C2C;
    border: none;
    color: white;
    padding: 0.7rem;
    margin-left: 1.7rem;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    width: 7rem;
}
#boton3{
    border-radius: 0.3rem;
    background-color: #237C2C;
    border: none;
    color: white;
    width: 7rem;
    padding: 0.7rem;
    margin-left: 1.7rem;
    font-family: "Roboto", sans-serif;
    font-size: medium;
}
.contenedor_datos{
    width: 73rem;
    height: 30rem;
    background-color:#FFFFFF;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: auto;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
}

th, td{
    color: #444444;
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}
.select input, .select-r input {
    margin-right: 2px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #555;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    outline: none;
    cursor: pointer;
}
.select input:checked, .select-r input:checked {
    background-color: #555;
}

th.select {
    padding-left: 5px;
    padding-right: 5px;
}

.contenedor_datos::-webkit-scrollbar{
    width: 10px;
}
.contenedor_datos::-webkit-scrollbar-horizontal {
    height: 10px;
}

.contenedor_datos::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
    border-radius: 10px;
}

.contenedor_datos::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.contenedor_datos:hover {
    scrollbar-color: #555 #f5f5f5;
}

footer{
    position: relative;
    z-index: 2;
}
.footer-container {
    font-family: "Raleway", sans-serif;
    background: #444444;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.footer-container .footer {
display: flex;
width: 100%;
justify-content: space-evenly;
padding-top: 30px;
}
.footer-container .footer .info-footer {
color: #FFFFFF;
display: flex;
align-items: center;
}
.footer-container .footer .info-footer img {
height: 100px;
width: 100px;
margin-right: 30px;
}
.footer-container .footer .contacto {
color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
font-style: oblique;
}
.footer-container .footer .contacto h1 {
font-family: "Roboto", sans-serif;
font-size: 1rem;
margin: 0;
}
.footer-container .footer .contacto p {
margin-top: 0;
}
.footer-container .footer .redes {
display: flex;
justify-content: space-between;
align-items: center;
}
.footer-container .footer .redes img {
height: 30px;
width: 30px;
padding: 5px;
}
.footer-container .copyright p {
color: #FFFFFF;
}
